{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "curly": ["error", "all"],
    "no-console": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/prop-types": 0,
    "jsx-a11y/label-has-associated-control": 0
  },
  "extends": [
    "airbnb",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
