{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "curly": ["error", "all"],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }]
  },
  "extends": [
    "airbnb",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
